<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title '' %}FromSelect</title>
        <link rel="stylesheet" href="{{ base_url() }}/assets/style.css">
    </head>
    <body class="login-body">
        <section class="login">
            <header class="header no-a">
                <h1><span>From</span>Select</h1>
            </header>
            <form action="{{ path_for('login.auth') }}" method="post">
                <div class="columns">
                    <div class="host-group">
                        <label for="host">Host</label>
                        <input type="text" name="host" id="host" placeholder="Eg. localhost" required>
                    </div>
                    <div class="port-group">
                        <label for="port">Port</label>
                        <input type="text" name="port" id="port" value="3306" required>
                    </div>
                </div>
                <label for="user">Username</label>
                <input type="text" name="user" id="user" placeholder="Eg. root" autocomplete="off" required>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" autocomplete="off">
                <input type="submit" value="Connect">
            </form>
        </section>
    </body>
</html>
