{% extends '@fromselect/layout.twig' %}

{% import '@fromselect/parts/macros.twig' as macros %}

{% block main %}
    <nav class="navbar">
        <h2>Table navigation</h2>
        <ul>
            <li class="current"><a href="#">Data</a></li>
            <li><a href="#">Structure</a></li>
            <li><a href="#">Operations</a></li>
        </ul>
    </nav>
    <div class="content">
        {{ macros.query('SELECT * FROM `users` LIMIT 0, 25', 0.001462, '#') }}
        <div class="columns">
            {{ macros.dataNavigation(2, 25, 178) }}
            <form action="#" method="post" class="actions" id="actions">
                <span>Selected:</span>
                <input type="submit" value="Delete">
            </form>
        </div>
        <table class="main-table">
            <thead>
                <tr>
                    <th></th>
                    <th><a href="#">id</a></th>
                    <th><a href="#">email</a></th>
                    <th><a href="#">visible_name</a></th>
                    <th><a href="#">password</a></th>
                    <th><a href="#">role</a></th>
                    <th><a href="#">activated</a></th>
                    <th><a href="#">activation_hash</a></th>
                    <th><a href="#">banned</a></th>
                    <th><a href="#">remind_hash</a></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="checkbox" name="row[]" value="1" form="actions">
                        <a href="#">Edit</a>
                        <a href="#">Delete</a>
                    </td>
                    <td>1</td>
                    <td>w.albert221@gmail.com</td>
                    <td>Albert221</td>
                    <td>$2a$12$9NZPxKUimD4cvs7gznIyrOgiateIzDhCx4O9lcbdOtUeuQCLY1bPa</td>
                    <td>1</td>
                    <td>1</td>
                    <td>f2ccc14e38a8e31a</td>
                    <td>0</td>
                    <td>868199b2ee53e022</td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" name="row[]" value="2" form="actions">
                        <a href="#">Edit</a>
                        <a href="#">Delete</a>
                    </td>
                    <td>2</td>
                    <td>nextgenerationpl@gmail.com</td>
                    <td>Accro</td>
                    <td>$2a$12$2kHbrQJ4iiT8y9Ssu5.3B.U.u2cavhD2EKe7Ed432Xslmrk/34tae</td>
                    <td>0</td>
                    <td>1</td>
                    <td>4573cd9bf9394122</td>
                    <td>0</td>
                    <td>247e62755c65188f</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
