.data-table {
    margin: 15px 0;
    border-collapse: collapse;
    white-space: nowrap;

    &.optimal-width {
        width: 100%;
        table-layout: fixed;

        col {
            max-width: 50vw;
        }
    }

    thead {
        border-bottom: 1px solid #ccc;
    }

    th {
        padding: 10px 15px;
        font-weight: normal;
        text-align: left;

        &.sorted {
            font-weight: bold;
        }
    }

    tbody {
        tr {
            &:nth-child(even) {
                background: $mainTableEvenBackground;
            }

            &.checked {
                background: lighten($primaryColor, 45%);

                &:nth-child(even) {
                    background: lighten($primaryColor, 40%);
                }
            }

            &:hover, &:hover:nth-child(even) {
                background: lighten($primaryColor, 30%);
            }

            td {
                // TODO: Calculate max width of row in JS as for the most perfect fit.
                max-width: 50vw;
                padding: 5px 15px;
                overflow: hidden;
                text-overflow: ellipsis;

                label {
                    @extend %hidden;
                }
            }
        }
    }

    tfoot {
        border-top: 1px solid #ccc;
    }
}
