.data-navigation {
    order: 2;
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    justify-content: flex-end;
    margin-bottom: 15px;

    h2 {
        @extend %hidden;
    }

    .pages {
        display: flex;
        flex-flow: row wrap;
        list-style: none;

        :not(.current) a {
            @include button(lighten($tableNavigationBackground, 10%));
            margin-right: 1px;
            padding: 6px 8px;
        }

        .current a {
            margin-right: 1px;
            padding: 6px 8px;
            color: #333;
            text-decoration: none;
        }
    }

    .jump {
        margin-left: 14px;
        margin-right: 15px;

        select {
            padding: 7px 0 7px 7px;
        }
    }

    .per-page {
        [type="number"] {
            width: 75px;
            padding: 7px 0 7px 7px;
        }
    }
}