.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;

    h1 a {
        display: block;
        color: #fff;
        text-decoration: none;

        span {
            color: $primaryColor;
        }

        &:hover, &:focus {
            color: $primaryColor;
        }
    }
}
