.header {
    padding: 15px;
    height: 50px;

    h1 a {
        color: #fff;
        display: block;
        margin-left: -15px; // Make header actually centered
        margin-top: -8px;
        text-align: center;
        text-decoration: none;

        span {
            color: #03a9f4;
        }

        &:hover, &:focus {
            color: #03a9f4;
        }
    }
}
