.main-table {
    margin: 15px 0;
    border-collapse: collapse;
    white-space: nowrap;

    thead {
        border-bottom: 1px solid #ccc;
    }

    th {
        padding: 15px;
        font-weight: normal;
        text-align: left;

        &.current {
            font-weight: bold;
        }
    }

    tbody {
        tr {
            &:nth-child(even) {
                background: $mainTableEvenBackground;
            }

            td {
                padding: 15px;

                @at-root .main-table.compact tbody tr td {
                    padding: 5px 15px;
                }

                label {
                    @extend %hidden;
                }
            }
        }
    }

    tfoot {
        border-top: 1px solid #ccc;
    }
}
