.sidebar {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    background: $sidebarBackground;
    color: #fff;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;

    h1 a, &.no-a h1 {
        display: block;
        color: #fff;
        text-decoration: none;

        span {
            color: $primaryColor;
        }
    }

    h1 a:hover, h1 a:focus {
        color: $primaryColor;
    }
}

.databases {
    .filter {
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;

        label {
            @extend %hidden;
        }

        [type="search"] {
            height: 35px;
            width: 100%;
            border: 0;
            padding: 10px 15px;
            color: #fff;
            background: lighten($sidebarBackground, 15%);
            box-shadow: inset 0 0 15px rgba(0, 0, 0, .3);
        }
    }

    h2 {
        @extend %hidden;
    }

    .list {
        position: absolute;
        top: 85px;
        bottom: 0;
        left: 0;
        right: 0;
        list-style: none;
        overflow-x: hidden;
        overflow-y: scroll;

        .new a {
            @include button($primaryColor);
            display: block;
            margin: 15px;
        }

        > li {
            > a {
                position: relative;
                display: block;
                padding: 10px 15px 10px 37px;

                button {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    width: 34px;

                    border: 0;
                    color: inherit;
                    background: transparent;
                    font-size: 22px;
                    font-weight: bold;
                    cursor: pointer;
                }

                &:hover button, button:hover, button:focus {
                    background: lighten($sidebarBackground, 15%);
                    outline: none;
                }
            }

            ul {
                display: none;

                li {
                    // IE11 & Edge shows too big offset for list sub-elements.
                    display: inline;

                    a {
                        display: block;
                        padding: 5px 15px 5px 29px;
                        background: lighten($sidebarBackground, 20%);
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }
            }

            // Hidden databases or tables because of filter.
            &.hidden, &:not(.expanded) .hidden {
                display: none;
            }

            // Filtered tables to be highlighted among non-filtered.
            &.expanded.search-expanded :not(.hidden) > a {
                background: lighten($sidebarBackground, 30%);
            }

            // For expanded database.
            &.expanded, &.search-expanded {
                margin-bottom: 5px;

                > a {
                    background: linear-gradient(to bottom,
                                    lighten($sidebarBackground, 15%),
                                    lighten($sidebarBackground, 10%));

                    &:hover button, button:hover, button:focus {
                        background: linear-gradient(to bottom,
                                lighten($sidebarBackground, 30%),
                                lighten($sidebarBackground, 25%));
                    }
                }

                ul {
                    display: block;
                }
            }

            // For currently browsed database.
            &.current {
                > a {
                    color: #fff;
                    background: linear-gradient(to bottom,
                            lighten($primaryColor, 15%),
                            $primaryColor);
                    text-decoration: none;
                    text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
                    font-weight: bold;

                    &:hover button, button:hover, button:focus {
                        background: linear-gradient(to bottom,
                                lighten($primaryColor, 30%),
                                lighten($primaryColor, 15%));
                    }
                }

                // For currently browsed table.
                .current a {
                    background: lighten($sidebarBackground, 15%);
                    text-decoration: none;
                }
            }
        }
    }
}

.navbar {
    background: $tableNavigationBackground;

    h2 {
        @extend %hidden;
    }

    ul {
        display: flex;
        flex-flow: row wrap;
        list-style: none;

        a {
            display: block;
            padding: 15px;
            height: 50px;
            color: #fff;
            font-weight: bold;
            text-decoration: none;

            &:hover, &:focus {
                background: lighten($tableNavigationBackground, 10%);
            }
        }

        .current a {
            background: lighten($tableNavigationBackground, 15%);
        }
    }
}
