.query {
    position: relative;
    margin-bottom: 15px;
    
    code {
        display: block;
        padding: 15px 130px 15px 15px;
        color: $codeColor;
        background: $codeBackground;

        .keyword {
            color: $codeKeyword;
        }

        .number {
            color: $codeNumber;
        }
    }

    ul {
        list-style: none;
        position: absolute;
        top: 8px;
        right: 8px;
        display: flex;
        align-items: center;

        li:first-child {
            margin-right: 10px;
            color: #fff;
            font-style: italic;
            font-size: 13px;
        }

        a {
            @include button(lighten($codeBackground, 20%));
            display: block;
            padding: 5px 7px;
        }
    }
}
