$primaryColor: #03a9f4;
$red: #f44336;

$fontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
             "Cantarell", "Fira Sans",  "Droid Sans", "Helvetica Neue", sans-serif;

$sidebarWidth: 250px;
$sidebarBackground: #333;

$tableNavigationBackground: lighten($sidebarBackground, 15%);

$mainTableEvenBackground: darken(#fff, 15%);