$primaryColor: #03a9f4;
$red: #f44336;

$fontFamily: Roboto, Arial, sans-serif;

$sidebarWidth: 250px;
$sidebarBackground: #333;

$tableNavigationBackground: lighten($sidebarBackground, 15%);

$mainTableEvenBackground: darken(#fff, 15%);